.coach {
  position: relative;
  display: block;
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;

    &:active {
      & .coach__info {
        display: block;
        padding-top: 50px;
        filter: progid:DXImageTransform.Microsoft.DropShadow(0, 4, color=rgba(#000000, .25), positive=false)
      }

      & .coach__name {
        display: none;
      }
    }
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  @include hover-focus {
    & .coach__info {
      display: block;
      padding-top: 50px;
    }

    & .coach__name {
      display: none;
    }
  }

  &:active {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));

    & .coach__info {
      display: block;
      padding-top: 43px;
      padding-left: 2px;
    }

    & .coach__name {
      display: none;
    }
  }
}

.coach img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.coach__name p {
  color: $color-default-white;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 0.9px;

  @include vp-1199 {
    padding-left: 9px;
  }
}

.coach__info {
  display: none;
  background-color: rgba(16, 38, 84, 0.89);
  height: 100%;
  z-index: 2;
  position: absolute;
}

.coach__info h3 {
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  text-align: center;

  @include vp-1199 {
    padding-right: 9px;
  }

  @include vp-767 {
    font-size: 15px;
    letter-spacing: 1.5px;
    padding-right: 0;
  }
}

.coach__info p {
  color: #b6bdcc;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 18px;
}

.coach__info ul {
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 34px;
  padding-left: 73px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-767 {
    padding-left: 50px;
    margin-top: 36px;
  }
}

.coach__info li::marker {
  font-size: 18px;
}
