.coach {
  position: relative;
  display: block;
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;

    &:active {
      & .coach__info {
        display: block;
        padding-top: 50px;
      }

      & .coach__name {
        display: none;
      }
    }
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  @include hover-focus {
    & .coach__info {
      display: block;
      padding-top: 50px;
    }

    & .coach__name {
      display: none;
    }
  }
}

.coach img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.coach__name p {
  color: $color-default-white;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.coach__info {
  display: none;
  background-color: rgba(16, 38, 84, 0.89);
  height: 100%;
  z-index: 2;
  position: absolute;
}

.coach__info h3 {
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  text-align: center;

  @include vp-767 {
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}

.coach__info p {
  color: #b6bdcc;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 18px;
}

.coach__info ul {
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 34px;
  padding-left: 69px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include vp-767 {
    padding-left: 50px;
    margin-top: 36px;
  }
}

.coach-swiper__container {
  width: 1190px;

  @include vp-1199 {
    width: 100%;
  }
}

.coach__swiper-button {
  position: absolute;
  top: 55%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 0;

  color: $color-default-black;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: translateY(-50%);

  @include vp-1199 {
    top: 51%;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
    top: 55%;
  }

  &--prev {
    transform: translateY(-50%) rotate(180deg);
    left: 2%;

    @include vp-1199 {
      left: 3%;
    }

    @include vp-767 {
      left: 0;
    }
  }

  &--next {
    right: 2%;

    @include vp-1199 {
      right: 3%;
    }

    @include vp-767 {
      right: 0;
    }
  }

  & svg {
    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: $color-default-black;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-default-black;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
