.contacts {
  width: 50%;
  box-sizing: 50%;
  padding: 56px 0 56px 120px;

  @include vp-1199 {
    width: 100%;
    padding-top: 75px;
    padding-left: 30px;
    padding-bottom: 88px;
    padding-right: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 71px 15px;
    align-items: start;
  }
}

.contacts__wrapper {
  padding-left: 4px;

  @include vp-1199 {
    width: 475px;
    margin-left: 6px;
    padding: 0;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
  }
}

.contacts__wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 170px 1px 165px;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 60px;
  row-gap: 5px;

  @include vp-1199 {
    grid-template-columns: 220px 1px auto;
    column-gap: 48px;
    row-gap: 12px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }

  &::before {
    grid-row: 1/3;
    grid-column: 2/3;
    content: "";
    display: block;
    width: 1px;
    background-color: #74819c;
    margin: 21px 0 5px;

    @include vp-767 {
      display: none;
    }
  }
}

.contacts h3 {
  color: $color-sapphire;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 6px;

  @include vp-1199 {
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 11px;
  }
}

.contacts p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $color-sapphire;
  margin: 0;
  letter-spacing: -0.24px;

  @include vp-1199 {
    font-size: 18px;
  }
}

.contacts h2 {
  margin-bottom: 22px;

  @include vp-1199 {
    width: 475px;
    padding-left: 6px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    width: auto;
    padding: 0;
    margin-bottom: 28px;
  }
}
