.event {
  display: flex;
  justify-content: center;
  gap: 3.45%;
  align-items: stretch;
  flex-direction: row;
  margin-top: 54px;

  @include vp-1199 {
    flex-direction: column;
    margin-top: 53px;
    gap: 30px;
  }

  @include vp-767 {
    margin-top: 49px;
  }
}

.event__img-block {
  display: flex;
  background-color: $bg-torch-red;
  align-items: stretch;
  flex-grow: 1;

  @include vp-1199 {
    justify-content: space-between;
    height: 60.16vw;
  }

  @include vp-767 {
    flex-direction: column;
    height: auto;
  }
}

.event__img-block picture {
  flex-grow: 1;
}

.event__img-block img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
    justify-items: end;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }
}

.event__img-content {
  padding: 45px;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-default-white;
  width: 280px;
  flex-grow: 1;

  @include vp-1199 {
    padding-right: 40px;
    flex-grow: 1;
  }

  @include vp-767 {
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-left: 45px;
  }
}

.event__img-content p {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.event__img-price {
  @include vp-767 {
    text-align: center;
  }
}

.event__img-price p {
  font-size: 70px;
  font-weight: 700;
  line-height: 83%;
  margin-bottom: 25px;

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.event__img-price span {
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
}

.event a {
  text-transform: uppercase;
  border-bottom: 1px solid #1c3374;
  color: #1c3374;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;

  @include vp-1199 {
    &:active {
      outline: none;
      padding: 9px;
      border: 1px solid $color-default-white;
      margin-left: -10px;
      margin-bottom: -10px;
    }
  }

  @include hover {
    opacity: 0.7;
  }

  @include focus {
    outline: none;
    padding: 9px;
    border: 1px solid $color-default-white;
    margin-left: -10px;
    margin-bottom: -10px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.event__img-content a {
  color: $color-default-white;
  border-color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;

  @include vp-1199 {
    &:active {
      opacity: 0.8;
    }
  }

  @include hover {
    opacity: 0.8;
  }
}

.event ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
  margin: 0;
  padding: 0;
  flex-grow: 1;

  @include vp-1199 {
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: stretch;
  }
}

.event li {
  padding: 27px;
  color: #1c3374;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 7px solid transparent;
  border-image: linear-gradient(162deg, #d10a42, #00359f);
  border-image-slice: 1;
  box-sizing: border-box;
  width: 560px;

  @include vp-1199 {
    min-width: 324px;
    flex-grow: 1;
    min-height: 211px;
  }

  @include vp-767 {
    min-width: 0;
    width: 100%;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 39px;
    min-height: 211px;
  }
}

.event__list h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 9px;

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.event__list p {
  margin: 0;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include vp-767 {
    text-align: center;
  }
}
