.event {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: stretch;
  flex-direction: row;
}

.event__img-block {
  display: flex;
  background-color: $bg-torch-red;
  align-items: stretch;
}

.event__img-content {
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-default-white;
  width: 280px;
}

.event__img-content p {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

.event__img-price p {
  font-size: 70px;
  font-weight: 700;
  line-height: 156%;
}

.event__img-price span {
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
}

.event a {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #1c3374;
  color: #1c3374;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.event__img-content a {
  color: $color-default-white;
  border-color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.event ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.event li {
  padding: 35px;
  color: #1c3374;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 7px solid transparent;
  border-image: linear-gradient(162deg, #D10A42, #00359F);
  border-image-slice: 1;
  box-sizing: border-box;
  width: 560px;
}

.event ul h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
}

.event ul p {
  margin: 0;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}



