.faq {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 120px;

  @include vp-1199 {
    flex-direction: column;
    gap: 39px;
    margin-bottom: 114px;
  }

  @include vp-767 {
    gap: 29px;
    margin-bottom: 65px;
  }
}

.faq h2 {
  width: 100%;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  margin-top: 120px;
  letter-spacing: 0.9px;
  margin-bottom: 0;

  @include vp-1199 {
    text-align: center;
    font-size: 42px;
    margin-top: 100px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-top: 70px;
    letter-spacing: 0.96px;
  }
}

.faq__tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1199 {
    flex-direction: row;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    width: 100%;
  }

  &--content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.faq__tabs-wrapper button {
  min-width: 260px;
  display: flex;
  justify-content: center;
  padding: 18px 10px;
  background-color: $color-transparent;
  color: $color-sapphire;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba($color-sapphire, 0.2);
  cursor: pointer;

  @include vp-1199 {
    min-width: 164px;

    &:active {
      border: 1px solid $color-sapphire;
      outline: none;
    }
  }

  @include vp-767 {
    min-width: 0;
    padding: 14px 10px;
    font-size: 16px;
  }

  &.is-active {
    color: $color-default-white;
    background: $btn-gradient;
    padding: 19px 11px;
    border: none;

    @include vp-1199 {
      &:active {
        border: none;
        outline: none;
      }
    }

    @include vp-767 {
      padding: 15px 11px;
    }

    @include hover-focus {
      border: none;
      outline: none;
    }
  }

  @include hover-focus {
    border: 1px solid $color-sapphire;
    outline: none;
  }

  &:disabled {
    color: #c8c9cc;
  }
}

.faq__accordion-wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-top: 1px solid #1c3374;
  padding-left: 0;

  @include vp-767 {
    width: 100%;
  }
}

.faq__accordion-wrapper li {
  display: grid;
  grid-template-columns: 1fr 42px;
  grid-template-rows: auto;
  column-gap: 40px;
  border-bottom: 1px solid #1c3374;
  min-height: 92px;
  align-items: center;
  width: 100%;

  @include vp-767 {
    grid-template-columns: 1fr 32px;
    padding: 20px 0;
    column-gap: 10px;
    min-height: 0;
  }

  &.is-active {
    row-gap: 8px;

    @include vp-767 {
      row-gap: 34px;
    }
  }
}

.faq__accordion-wrapper button {
  display: flex;
  border-radius: 50%;
  font-size: 0;
  width: 42px;
  height: 42px;
  min-width: min-content;
  border: 1px solid #1c3374;
  align-items: center;
  justify-content: center;
  position: relative;

  @include vp-1199 {
    &:active {
      background-color: $bg-sapphire;
      outline: none;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    justify-self: end;
  }

  &::before {
    width: 18px;
    height: 1px;
    background-color: #1c3374;
    content: "";
    display: block;

    @include vp-767 {
      width: 12px;
    }
  }

  &::after {
    height: 18px;
    width: 1px;
    background-color: #1c3374;
    content: "";
    display: block;
    position: absolute;
    margin: auto;

    @include vp-767 {
      height: 12px;
    }
  }

  @include hover-focus {
    background-color: $bg-sapphire;
    outline: none;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.faq__accordion-wrapper p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  min-height: 90px;
  display: flex;
  align-items: center;
  letter-spacing: -0.1px;

  @include vp-767 {
    font-size: 18px;
    min-height: 0;
  }
}

.faq__accordion-wrapper [data-accordion="content"] {
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  min-height: 0;
  display: block;

  @include vp-767 {
    font-size: 16px;
    grid-column: 1/3;
  }
}

.faq__accordion-wrapper .is-active button {
  background-color: #1c3374;

  &::after {
    display: none;
  }

  &::before {
    background-color: $bg-default-white;
  }
}

.faq [data-accordion="element"].is-active > [data-accordion="content"] {
  margin-top: -23px;
  margin-bottom: 23px;
  width: 660px;
  letter-spacing: -0.1px;

  @include vp-1199 {
    width: 560px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 0;
  }
}
