.form-bonus {
  width: 50%;
  background-color: $bg-sapphire;
  padding: 86px 149px 68px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  @include vp-1199 {
    width: 100%;
    padding-top: 75px;
    padding-right: 30px;
    padding-bottom: 69px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 69px;
  }
}

.form-bonus__container {
  max-width: 410px;

  @include vp-1199 {
    max-width: 100%;
    width: 64.36%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    margin-top: 55px;
  }
}

.form-bonus h2 {
  color: $color-default-white;
  letter-spacing: 1.9px;
  margin-bottom: 47px;

  @include vp-1199 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 42px;
  }
}

.form-bonus form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 28px;
  width: 100%;

  @include vp-1199 {
    justify-content: space-between;
    gap: 60px;
    row-gap: 28px;
  }

  @include vp-767 {
    row-gap: 31px;
  }
}

.form-bonus button {
  background-color: $color-transparent;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  border-radius: 0;
  width: 100%;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-767 {
    margin-top: 6px;
  }

  @include hover-focus {
    background-color: $bg-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  @include active {
    background-color: $bg-default-white;
    color: $color-sapphire;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }

}

.form-bonus input {
  border: none;
  border-bottom: 1px solid #74819c;
  padding: 3px 0;
  background-color: $color-transparent;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
  }

  &[aria-invalid="true"] {
    border-color: $form-color-torch-red;

    &+.is-invalid {
      color: $form-color-torch-red;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  @include hover {
    border-color: $color-default-white;
  }

  @include focus {
    outline: none;
    border-radius: 0;
    border: 1px solid $color-default-white;

    &::placeholder {
      color: $color-transparent;
    }
  }

  &:disabled::placeholder {
    opacity: 0.4;
  }
}

.form-bonus__input-wrapper {
  flex-grow: 1;
  width: 190px
}
