.form-bonus {
  width: 50%;
  background-color: $bg-sapphire;
  padding: 64px 170px 68px 0;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}

.form-bonus container {
  max-width: 410px;
}

.form-bonus h2 {
  color: $color-default-white;
  letter-spacing: 1.9px;
  margin-bottom: 27px;
}

.form-bonus form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 28px;
  width: 410px;
}

.form-bonus button {
  background-color: $color-transparent;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  border-radius: 0;
  width: 100%;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-bonus input {
  border: none;
  border-bottom: 1px solid #74819c;
  padding: 3px 0;
  background-color: $color-transparent;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
  }

  &[aria-invalid="true"] {
    border-color: $form-color-torch-red;

    &+.is-invalid {
      color: $form-color-torch-red;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.form-bonus__input-wrapper {
  flex-grow: 1;
  width: 190px
}
