.header-page {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include vp-1199 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.header-page__logo {
  display: block;
  width: max-content;
  color: $color-default-white;
  height: 44px;

  @include vp-1199 {
    width: 81px;
    height: 18px;
  }

  @include vp-767 {
    width: 67px;
    height: 24px;
  }

  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-page__phone {
  font-size: 26px;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  line-height: normal;
  letter-spacing: 0.5px;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
    font-family: "AlumniSans-Bold", "Arial", sans-serif;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  @include vp-767 {
    padding-top: 1px;
    font-size: 20px;
    font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
    line-height: normal;
    letter-spacing: 0.1px;
  }
}
