.header-page {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include vp-1199 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.header-page__logo {
  display: block;
  width: max-content;
  color: $color-default-white;
  height: 44px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-left: -10px;

  @include vp-1199 {
    width: 100px;
    height: 18px;

    &:active {
      border: 1px solid $color-default-white;
      padding: 0 9px;
      outline: none;
    }
  }

  @include vp-767 {
    width: 87px;
    height: 24px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: 1px solid $color-default-white;
    padding: 0 9px;
    outline: none;
  }

  @include active {
    border: none;
    padding: 0 10px;
  }

  &:disabled {
    opacity: 0.3;
  }

  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-page__phone {
  font-size: 26px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  color: $color-default-white;
  padding: 10px;
  margin-right: -10px;
  margin-top: -7px;
  height: max-content;
  box-sizing: border-box;

  @include vp-1199 {
    font-size: 24px;
    font-family: "Alumni Sans", "Arial", sans-serif;
    line-height: 20px;
    letter-spacing: 0.2px;

    &:active {
      border: 1px solid $color-default-white;
      padding: 9px;
      outline: none;
    }
  }

  @include vp-767 {
    padding-top: 15px;
    font-size: 15px;
    font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
    line-height: normal;
    letter-spacing: 0.1px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: 1px solid $color-default-white;
    padding: 9px;
    outline: none;
  }

  @include active {
    border: none;
    padding: 0 10px;
  }

  &:disabled {
    opacity: 0.3;
  }
}
