.main-footer {
  background-color: $bg-black-russian;
  padding-top: 41px;
  padding-bottom: 32px;
  margin-top: -120px;
  z-index: 100;
}

.main-footer svg {
  display: block;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-767 {
    flex-direction: column;
    gap: 40px;
  }
}

.main-footer__logo {
  color: $color-default-white;
}

.main-footer__nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-left: 48px;

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -52px;
    row-gap: 20px;

    &::before {
      content: "";
    }
  }
}

.main-footer__nav a {
  color: $color-default-white;
  padding: 6px 10px;
  padding-top: 3px;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.7px;

  @include hover {
    & span {
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: $bg-default-white;
      }
    }
  }

  @include focus {
    padding: 5px 9px;
    border: 1px solid $color-default-white;
    border-radius: 0;
  }

  @include active {
    border: none;
    outline: none;

    & span::before {
      display: none;
    }
  }

  &:disabled {
    opacity: 0.4;
  }
}

.main-footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 11px;
  margin: 0;
}

.main-footer__social-list a {
  background-color: $bg-default-white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black-russian;

  @include hover-focus {
    color: $color-default-white;
    background-color: $bg-egyptian-blue;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    background-color: $bg-sapphire;
  }

  &:disabled {
    opacity: 0.3;
  }
}
