.main-footer {
  background-color: $bg-black-russian;
  padding-top: 41px;
  padding-bottom: 32px;
  margin-top: -120px;
  z-index: 100;

  @include vp-1199 {
    margin-top: -122px;
  }

  @include vp-767 {
    margin-top: -73px;
    padding-top: 48px;
  }
}

.main-footer svg {
  display: block;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-767 {
    flex-direction: column;
    gap: 35px;
  }
}

.main-footer__logo {
  color: $color-default-white;
  margin-top: 2px;
  box-sizing: content-box;

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: 1px solid $color-default-white;
    padding: 0 9px;
    outline: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1px;
    margin-bottom: -1px;
  }

  &:active {
    border: none;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    &:active {
      border: none;
      padding: 0 10px;
    }
  }
}

.main-footer__logo svg {
  @include vp-1199 {
    width: 79px;
    height: 27px;
  }

  @include vp-767 {
    width: 66px;
    height: 15px;
  }
}

.main-footer__nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-left: 48px;

  @include vp-1199 {
    margin-left: 56px;
    margin-top: 2px;
    gap: 9px;
  }

  @include vp-767 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    margin-top: -53px;
    gap: 10.34%;
    row-gap: 18px;
    justify-content: start;
    width: 100%;

    &::before {
      content: "";
    }
  }
}

.main-footer__nav a {
  color: $color-default-white;
  padding: 6px 10px;
  padding-top: 3px;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.7px;

  @include vp-767 {
    padding: 0;
    padding-left: 1px;
    letter-spacing: 0.1px;
  }

  @include hover {
    & span {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: $bg-default-white;
      }
    }
  }

  @include focus {
    margin-top: -3px;
    padding: 5px 9px;
    border: 1px solid $color-default-white;
    border-radius: 0;
  }

  &:active {
    border: none;
    outline: none;

    & span::before {
      display: none;
    }
  }

  @include vp-1199 {
    &:active {
      border: none;
      outline: none;

      & span::before {
        display: none;
      }
    }
  }

  &:disabled {
    opacity: 0.4;
  }
}

.main-footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 12px;
  margin: 0;

  @include vp-1199 {
    padding-left: 34px;
    padding-top: 4px;
  }

  @include vp-767 {
    padding: 0;
    margin-top: -1px;
    gap: 11px;
  }
}

.main-footer__social-list a {
  background-color: $bg-default-white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black-russian;

  @include hover-focus {
    color: $color-default-white;
    background-color: $bg-egyptian-blue;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    background-color: $bg-sapphire;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    &:active {
      color: $color-default-white;
      background-color: $bg-sapphire;
    }
  }
}
