.reviews-swiper {
  margin-top: 41px;
  position: relative;
  width: 750px;
  padding: 0;

  @include vp-767 {
    margin-top: 27px;
    width: 100%;
  }
}

.reviews-swiper__button {
  position: absolute;
  top: 59%;
  transform: translateY(-50%);
  z-index: 10;
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-default-black;
  background-color: $color-transparent;
  border: 1px solid $color-transparent;
  border-radius: 50%;

  @include vp-767 {
    top: 57%;

    width: 40px;
    height: 40px;
  }

  &::after {
    display: none;
  }

  &--prev {
    left: 20px;
    transform: translateY(-50%) rotate(180deg);

    @include vp-1199 {
      left: 24px;
    }

    @include vp-767 {
      left: 0;
    }
  }

  &--next {
    right: 20px;

    @include vp-1199 {
      right: 24px;
    }

    @include vp-767 {
      right: 0;
    }
  }

  & svg {
    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  @include hover-focus {
    border-color: $color-default-black;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-default-black;
  }

  @include vp-1199 {
    &:active {
      color: $color-default-white;
      background-color: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
