.reviews {
  width: 436px;
  padding: 63px;
  padding-bottom: 55px;
  padding-right: 61px;
  background-color: #1c3374;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 28px;
  row-gap: 22px;
  margin: 0 auto;
  box-sizing: content-box;
  filter: drop-shadow(0 0 16px rgba(28, 51, 116, 0.2));

  @include vp-1199 {
    width: 442px;
    padding-bottom: 57px;
    padding-left: 64px;
  }

  @include vp-767 {
    box-sizing: border-box;
    grid-template-columns: 47.19% 1fr;
    width: 78.62%;
    padding: 40px 25px;
    column-gap: 15px;
    row-gap: 20px;
    padding-bottom: 32px;
  }
}

.reviews picture {
  grid-row: 1/3;

  @include vp-767 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: max-content;
    justify-self: end;
  }
}

.reviews img {
  border-radius: 50%;

  @include vp-767 {
    width: 68px;
  }
}

.reviews h3 {
  color: $color-default-white;
  font-size: 20px;
  font-weight: 700;
  line-height: 60%;
  margin: 0;

  @include vp-767 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    line-height: 130%;
  }
}

.reviews p {
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  letter-spacing: -0.13px;

  @include vp-767 {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    width: 100%;
    margin-top: -4px;
  }
}

.reviews__swiper-button {
  position: absolute;
  top: 59%;
  transform: translateY(-50%);
  z-index: 10;
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-default-black;
  background-color: $color-transparent;
  border: 1px solid $color-transparent;
  border-radius: 50%;

  @include vp-767 {
    top: 57%;

    width: 40px;
    height: 40px;
  }

  &::after {
    display: none;
  }

  &--prev {
    left: 246px;
    transform: translateY(-50%) rotate(180deg);

    & svg {
      margin-right: 6px;
    }

    @include vp-1199 {
      left: 24px;
    }

    @include vp-767 {
      left: 0;
    }
  }

  &--next {
    right: 246px;

    & svg {
      margin-left: 6px;
    }

    @include vp-1199 {
      right: 24px;
    }

    @include vp-767 {
      right: 0;
    }
  }

  & svg {
    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  @include hover-focus {
    border-color: $color-default-black;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-default-black;
  }

  @include vp-1199 {
    &:active {
      color: $color-default-white;
      background-color: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
