.reviews {
  width: 436px;
  padding: 63px 61px 56px 63px;
  background-color: #1c3374;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 28px;
  row-gap: 22px;
  margin: 0 auto;
  box-sizing: content-box;
  // filter: drop-shadow(0 0 16px rgba(28, 51, 116, 0.2));

  @include vp-1199 {
    width: 442px;
    padding-bottom: 57px;
    padding-left: 64px;
  }

  @include vp-767 {
    box-sizing: border-box;
    grid-template-columns: 47.19% 1fr;
    width: 70.62vw;
    min-width: 226px;
    padding: 40px 25px 32px;
    column-gap: 15px;
    row-gap: 20px;
  }
}

.reviews picture {
  grid-row: 1/3;

  @include vp-767 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: max-content;
    justify-self: end;
  }
}

.reviews img {
  border-radius: 50%;

  @include vp-767 {
    width: 68px;
  }
}

.reviews h3 {
  color: $color-default-white;
  font-size: 20px;
  font-weight: 700;
  line-height: 60%;
  margin: 0;

  @include vp-767 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    line-height: 130%;
  }
}

.reviews p {
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  letter-spacing: -0.13px;

  @include vp-767 {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    width: 100%;
    margin-top: -4px;
  }
}
