.section-wrapper {
  background-color: $bg-default-white;
  position: relative;

  &--gray {
    background-color: $bg-ghost-white;
  }
}

.section-wrapper__img-background {
  bottom: -150px;
  right: 0;
  display: block;
  width: 288px;
  height: 495px;
  position: absolute;

  @include vp-1199 {
    bottom: -125px;
    width: 347px;
    height: 444px;
  }

  @include vp-767 {
    display: none;
  }
}
