.super-game {
  flex-wrap: nowrap;
  flex-direction: row;

  @include vp-1199 {
    padding-bottom: 112px;
    width: 100%;
    align-items: stretch;
    padding-top: 62px;
  }

  @include vp-767 {
    padding-top: 29px;
    padding-bottom: 72px;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.super-game__content-wrapper {
  padding: 85px 79px 85px 88px;
  align-self: stretch;
  background-color: $bg-torch-red;
  flex-grow: 1;
  color: $color-default-white;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 59px;

  @include vp-1199 {
    margin-top: 43px;
    padding: 51px 44px 49px 57px;
    column-gap: 29px;
  }

  @include vp-767 {
    grid-template-columns: auto max-content;
    width: 100%;
    padding-right: 42px;
    padding-bottom: 50px;
  }
}

.super-game h2 {
  color: $color-default-white;
  text-align: center;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 82px;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  width: min-content;

  @include vp-1199 {
    font-size: 48px;
    line-height: 97%;
    letter-spacing: 1.44px;
    margin-left: -7px;
    margin-top: -2px;
  }
}

.super-game__shedule-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: -3px;

  @include vp-1199 {
    gap: 5px;
  }
}

.super-game__shedule {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: max-content;
}

.super-game__shedule h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  border-bottom: 1px solid $color-default-white;
  padding-bottom: 2px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 16px;
  }
}

.super-game__shedule div {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  display: flex;
  gap: 7px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
  }
}

.super-game__shedule p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    padding-top: 2px;
  }
}

.super-game__description {
  grid-column: 1/3;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
  margin-left: -10px;

  @include vp-1199 {
    font-size: 12px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.super-game__description p {
  margin-bottom: 44px;

  @include vp-1199 {
    margin-top: 2px;
    margin-bottom: 27px;
  }
}

.super-game__content-wrapper a {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 347px;
  border: 4px solid $color-default-white;
  grid-column: 1/3;
  padding: 20px;
  padding-bottom: 19px;
  text-align: center;
  color: $color-default-white;
  margin-left: -13px;
  align-self: end;

  @include vp-1199 {
    padding: 6.5px 45px;
    min-width: 202px;
    flex-grow: 1;
    border-width: 2px;
    font-size: 10px;
    letter-spacing: 0.5px;
    justify-self: stretch;
    width: auto;
  }

  @include vp-767 {
    width: 100%;
  }

  @include hover-focus {
    background-color: $bg-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  @include active {
    background-color: $bg-default-white;
    color: $color-sapphire;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.super-game__preview {
  width: 56.66%;

  @include vp-1199 {
    width: 58.48%;
    margin-top: 2px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 0;
  }
}

.super-game__preview img {
  width: 100%;

  @include vp-1199 {
    margin-top: 41px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}
