.tabs {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
}

.tabs__trigger-wrapper {
  display: flex;
  justify-content: center;
  gap: 46px;
  border-bottom: 2px solid rgba($color: #787878, $alpha: 0.2)
}

.tabs__trigger-item span {
  opacity: 0.5;
}

.tabs__trigger-item {
  color: $color-sapphire;
  padding: 18px 0;
  margin-bottom: -2px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;

  @include hover-focus {
    border-bottom: 2px solid rgba($color: #D10A42, $alpha: 0.8);

    & span {
      opacity: 1;
    }
  }

  &--active {
    border-bottom: 2px solid rgba($color: #D10A42, $alpha: 0.8);
    cursor: default;

    & span {
      opacity: 1;
    }
  }
}

.tabs__content-item {
  display: none;

  &--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

.tabs__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  background-color: $bg-default-white;
  padding-top: 68px;
  padding-bottom: 68px;
  min-width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @include hover-focus {
    padding-top: 61px;
    padding-bottom: 61px;
    border: 7px solid transparent;
    border-image: linear-gradient(151deg, #ed0233 0%, #003Eb7 100%);
    border-image-slice: 1;

    & a {
      padding: 29px 46px 30px 47px;
      border: none;
      background-image: $btn-gradient;
      color: $color-default-white;
    }
  }
}

.tabs__card h3 {
  color: $color-sapphire;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 110.156%;
  margin: 0;
}

.tabs__card p {
  margin: 0;
  text-align: center;
  color: $color-sapphire;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
 font-weight: 400;
  line-height: 150%;
}

.tabs__price p {
  color: $color-egyptian-blue;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  z-index: 1;

  &::before {
    content: attr(data-price);

    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    z-index: -1;

    font-weight: bold;
    font-size: 100px;

    color: #e8e8e8;
    opacity: 0.48;
  }
}

.tabs__card a {
  color: $color-sapphire;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 27px 44px 28px 45px;
  border: 2px solid $bg-sapphire;
  cursor: pointer;

  @include hover-focus {
    padding: 29px 46px 30px 47px;
    border: none;
    background-image: $btn-gradient;
    color: $color-default-white;
  }

  @include active {
    padding: 29px 46px 30px 47px;
    border: none;
    background-image: $btn-gradient;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
