.tabs {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    gap: 28px;
  }
}

.tabs__trigger-wrapper {
  display: flex;
  justify-content: center;
  gap: 46px;
  border-bottom: 2px solid rgba($color: #787878, $alpha: 0.2);

  @include vp-1199 {
    margin-top: 13px;
    gap: 54px;
  }

  @include vp-767 {
    gap: 43px;
  }
}

.tabs__trigger-item span {
  opacity: 0.5;
}

.tabs__trigger-item {
  color: $color-sapphire;
  padding: 18px 0 10px;
  margin-bottom: -2px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    letter-spacing: -0.99px;
  }

  @include vp-767 {
    font-size: 16px;
    padding-top: 15px;
    letter-spacing: 0.1px;
    padding-bottom: 12px;
  }

  @include hover-focus {
    border-bottom: 2px solid rgba($color: #D10A42, $alpha: 0.8);

    & span {
      opacity: 1;
    }
  }

  &.is-active {
    border-bottom: 2px solid rgba($color: #D10A42, $alpha: 0.8);
    cursor: default;

    & span {
      opacity: 1;
    }
  }
}

.tabs__content-item {
  display: none;

  &.is-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 40px;

    @include vp-1199 {
      flex-direction: column;
      align-items: center;
    }

    @include vp-767 {
      gap: 34px;
    }
  }
}

.tabs__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $bg-default-white;
  padding-top: 62px;
  padding-bottom: 68px;
  min-width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @include vp-1199 {
    width: 445px;
  }

  @include vp-767 {
    min-width: 290px;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 55px;
  }

  @include hover-focus {
    padding-top: 55px;
    padding-bottom: 61px;
    border: 7px solid transparent;
    border-image: linear-gradient(151deg, #ed0233 0%, #003Eb7 100%);
    border-image-slice: 1;

    @include vp-767 {
      padding-top: 45px;
      padding-bottom: 47px;
    }

    & a {
      padding: 29px 46px 22px 42px;
      border: none;
      background-image: $btn-gradient;
      color: $color-default-white;

      @include vp-767 {
        padding: 27px 45px 25px 46px;
      }
    }
  }
}

.tabs__card h3 {
  color: $color-sapphire;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 110.156%;
  margin: 0;

  @include vp-767 {
    font-size: 22px;
  }
}

.tabs__card p {
  margin: 0;
  text-align: center;
  color: $color-sapphire;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
 font-weight: 400;
  line-height: 150%;
}

.tabs__price p {
  color: $color-egyptian-blue;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  z-index: 1;

  @include vp-767 {
    font-size: 48px;
    line-height: 100%;
  }

  &::before {
    content: attr(data-price);

    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    z-index: -1;

    font-weight: bold;
    font-size: 100px;

    color: #e8e8e8;
    opacity: 0.48;

    @include vp-767 {
      font-size: 80px;
    }
  }
}

.tabs__price svg {
  height: 42px;

  @include vp-767 {
    height: 33px;
  }
}

.tabs__card a {
  color: $color-sapphire;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 25px 43px 23px 44px;
  border: 2px solid $bg-sapphire;
  margin-top: 24px;
  cursor: pointer;

  @include vp-1199 {
    margin-top: 25px;
  }

  @include vp-767 {
    margin-top: 31px;
  }

  @include hover-focus {
    padding: 27px 45px 25px 46px;
    border: none;
    background-image: $btn-gradient;
    color: $color-default-white;
  }

  @include active {
    padding: 29px 46px 30px 47px;
    border: none;
    background-image: $btn-gradient;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.tabs__price {
  margin-top: 55px;
}

.tabs__content-wrapper {
  width: 100%;
  max-width: 1400px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
}
